<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>Foo</title>
  <style type="text/css" media="screen">
    .record {
      background-color: red;
      border-radius: 50%;
      box-shadow: 2px 2px;
      width: 50px;
      height: 50px;
    }

    .recording {
      box-shadow: 0 0 !important;
    }

    .recording:after {
      content: "recording...";
    }

    textarea {
      width: 100%;
      font-size: 24px;
    }
  </style>
  <script type="text/javascript" charset="utf-8" src="static/bower_components/jquery/dist/jquery.min.js">
  </script>
  <script type="text/javascript" charset="utf-8">
    var recognition = new webkitSpeechRecognition();
    var $btn = $('#record-btn');

    function startRecording() {
      $btn.addClass('recording');
      recognition.start();

      recognition.onresult = function(event) {
        if (event.results.length > 0) {
          var r = (event.results[0][0].transcript);
          $('textarea').text(r);
        } else {

        }
        $btn.removeClass('recording');
      }
    }

    function doSubmit() {
      $.ajax({
        type: 'POST',
        data: JSON.stringify({text: $('textarea').val()}),
        contentType: 'application/json'
      });
    }
    </script>
  </head>
  <body>
    <textarea></textarea>
    <div id="record-btn" class="record" onclick="startRecording();">.</div>
    <button onclick="doSubmit()">Submit</button>
  </body>
</html>
